body {
  margin-left: 0;
  padding: 0;
  background: white;
  font-family: verdana;
}
.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50em;
}
