body {
  margin-left: 0;
  padding: 0;
  background:linear-gradient(to right, #30CFD0 0%, #330867 100%);
  background-size: cover;
  font-family: monospace;
}
.center {
  letter-spacing: .15em;
  margin:0 auto;
  overflow: auto;
  white-space: nowrap;
  border-right: .15em solid orange;\
  animation: typing 3.5s steps(40, end),  blinking-colour .5s step-end infnite;
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  /*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10em; */
}


@keyframes typing {
  from {width: 0}
  to {width: 100%}


}

@keyframes blinking-colour {

  from, to {border-color: transparent}
  50% {border-color: orange}

}
